@using Recetron.Interfaces
@inject IAuthService Auth
@inject NavigationManager Nav

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>


@code {


  protected override void OnInitialized()
  {
    Auth.AuthStateChanged += OnAuthStateChanged;
    if (Auth.IsAuthenticated)
    {
      Nav.NavigateTo(Constants.RECIPES_URL);
      return;
    }
    else
    {
      Nav.NavigateTo(Constants.AUTH_URL);
    }
  }

  private void OnAuthStateChanged(object sender, bool isAuthenticated)
  {
    if (isAuthenticated)
    {
      Nav.NavigateTo(Constants.RECIPES_URL, true);
      return;
    }
    else
    {
      Nav.NavigateTo(Constants.AUTH_URL);
    }
  }


  public void Dispose()
  {
    Auth.AuthStateChanged -= OnAuthStateChanged;
  }
}