@page "/"

<section class="rec-page rec-home-hero hero recbg-dark">
  <div class="hero-body text-light">
    <h1>Recetron</h1>
    <p>Because I just need to learn some Blazor :)</p>
  </div>
</section>