@using Interfaces

@inject IAuthService _auth

<header class="navbar recbg-light">
  <section class="navbar-section">
      @* Future use  *@
      @if (_auth.IsAuthenticated) {
        <NavLink class="btn btn-link" href="/recipes">Recipes</NavLink>
        <NavLink class="btn btn-link" href="/notes">Notes</NavLink>
      }
  </section>
  <section class="navbar-center">
    <NavLink class="btn btn-link" href="/">Receton</NavLink>
  </section>
  <section class="navbar-section">
    @if (_auth.IsAuthenticated) {
      <button class="btn btn-link" @onclick="SignOut">Sign out</button>
    } else {
      <NavLink class="btn btn-link" href="auth">Register or Login</NavLink>
    }
  </section>
</header>
@code {
  private async void SignOut(MouseEventArgs args)
  {
    await _auth.LogoutAsync();
  }
}